<div class="app-component">
    <nav>
      <ul>
        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [queryParams]="{ id: '1' }"  *ngIf="id != '5' && id != '6'">Home</li>
        <li routerLink="/register" routerLinkActive="active" [queryParams]="{ id: '2' }"
        *ngIf="id != '5' &&  id != '6' ">Register</li>
        <li routerLink="/login" routerLinkActive="active" [queryParams]="{ id: '3' }" 
        *ngIf="id != '5' &&  id != '6' ">Login</li>
        <li routerLink="/profile" routerLinkActive="active" [queryParams]="{ id: '6' }"
        *ngIf="id == '5' || id == '6'">Profile</li>
        <li routerLink="/" routerLinkActive="active" [queryParams]="{ id: '4' }"
        *ngIf="id == '5' || id == '6'">Logout</li>
      </ul>
    </nav>
<router-outlet></router-outlet>
</div>



